:root {
  --primary: navy;
  --secondary: rgb(231,121,69);
  --others: rgb(252,173,219);
  --bg: rgb(147,199,210);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  * {
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  /* NAVBAR STYLING STARTS */
  .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      background-color: var(--bg);
      color:var(--secondary);
    }  
    .nav-links a {
      color: var(--primary);
    }

    /* NAVBAR MENU */
    .menu {
      display: flex;
      gap: 1em;
      font-size: 20px;
      font-family: 'Comic Neue', cursive;
      color: var(--primary);
    }
    
    .menu li:hover {
      color: var(--secondary);
      border-radius: 5px;
      transition: 0.2s ease;
    }
    
    .menu li {
      padding: 5px 14px;
    }
    /* RESPONSIVE NAVBAR MENU STARTS */
  
  /* CHECKBOX HACK */
  
  input[type=checkbox] {
      display: none;
    } 
    
    /* HAMBURGER MENU */
    .hamburger {
      display: none;
      font-size: 24px;
      user-select: none;
    }
    
    /* APPLYING MEDIA QUERIES */
    @media (max-width: 768px) {
     .menu {
        display:none;
        position: absolute;
        background-color:var(--bg);
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
      }
    
      .menu li:hover {
        display: inline-block;
        background-color:#4c9e9e;
        transition: 0.3s ease;
      }
    
      .menu li + li {
        margin-top: 12px;
      }
    
      input[type=checkbox]:checked ~ .menu {
        display: block;
      }
    
      .hamburger {
        display: block;
      }
    
      .dropdown {
        left: 50%;
        top: 30px;
        transform: translateX(35%);
      }
    
      .dropdown li:hover {
        background-color: #4c9e9e;
      }
    }
a:hover {
    color: var(--secondary);
}
  body {
    font-family: "Inter", Arial, Helvetica, sans-serif;
  }
  .formbold-mb-5 {
    margin-bottom: 20px;
  }
  .formbold-pt-3 {
    padding-top: 12px;
  }
  .formbold-main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px;
  }

  .formbold-form-wrapper {
    margin: 0 auto;
    max-width: 550px;
    width: 100%;
    background: white;
  }
  .formbold-form-label {
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #07074d;
    margin-bottom: 12px;
  }
  .formbold-form-label-2 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .formbold-form-input {
    width: 100%;
    padding: 12px 24px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    background: white;
    font-weight: 500;
    font-size: 16px;
    color: #6b7280;
    outline: none;
    resize: none;
  }
  .formbold-form-input:focus {
    border-color: #6a64f1;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }

  .formbold-btn {
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    padding: 14px 32px;
    border: none;
    font-weight: 600;
    background-color: #6a64f1;
    color: white;
    width: 100%;
    cursor: pointer;
  }
  .formbold-btn:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }

  .formbold--mx-3 {
    margin-left: -12px;
    margin-right: -12px;
  }
  .formbold-px-3 {
    padding-left: 12px;
    padding-right: 12px;
  }
  .flex {
    display: flex;
  }
  .flex-wrap {
    flex-wrap: wrap;
  }
  .w-full {
    width: 100%;
  }
  @media (min-width: 540px) {
    .sm\:w-half {
      width: 50%;
    }
  }